# macOS
.DS_Store

# Xcode
build/
DerivedData/
xcuserdata/
*.xcuserstate
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# SwiftPM
.build/
.swiftpm/

# CocoaPods / Carthage (if ever added)
Pods/
Carthage/
